
<%= form_for(@user) do |f| %>

  <div class="small-12 columns errors">
    <div class="small-10 small-centered columns">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h4><i class="fa fa-exclamation-triangle"></i> <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="create-new-account">
    <div class="small-12 columns">
      <%= f.label :first_name %>
      <div class="small-6 small-centered columns account-field"><%= f.text_field :first_name %></div>
    </div>

    <div class="small-12 columns">
      <%= f.label :email %>
      <div class="small-6 small-centered columns account-field">
        <%= f.text_field :email %>
      </div>
    </div>
    
    <div class="small-12 columns">
      <%= f.label :password %>
      <div class="small-6 small-centered columns account-field">
        <%= f.password_field :password %>
      </div>
    </div>
    
    <div class="small-12 columns">
      <%= f.label :password_confirmation %>
      <div class="small-6 small-centered columns account-field">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    
    <div class="small-12 columns">
      <div class="small-5 small-centered columns"><%= f.submit "Create new account", class: "large button success expand" %>
      </div>
    </div>
  </div>

<% end %>

