
<%= form_for(@user) do |f| %>

  <div class="row">
    <div class="small-12 columns">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-3 columns"><%= f.label :email, class: "right inline" %></div>
        <div class="small-9 columns"><%= f.text_field :email %></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-3 columns"><%= f.label :password, class: "right inline" %></div>
        <div class="small-9 columns"><%= f.password_field :password %></div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-3 columns"><%= f.label :password_confirmation, class: "right inline" %></div>
        <div class="small-9 columns"><%= f.password_field :password_confirmation %></div> 
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-3 small-offset-3 columns"><%= f.submit "Create new account", class: "button" %></div>
      </div>
    </div>
  </div>

<% end %>

